.timer__container{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

.timer__wrapper{
    display: flex;
}


.timer__wrapper {
    font-size: 40rem;

}

@media screen and (max-width: 440px) {
    .timer__container{
        max-width: 750rem;
        margin-right: -300rem;
    }
    .timer__wrapper{
        margin-top: -20rem;
        margin-right: -120rem;
    }

}