@font-face {
  font-family: 'Harrington';
  src: url(assets/fonts/Harrington/1harringtonm.ttf)
}

:root {
  font-family: 'Harrington';
  font-size: calc(1vw / 14.4);
}

body{
  background-color: black;
  width: 100%;
}

@media screen and (max-width: 440px) {
  :root {font-size: calc(1vw / 2.3)}
}


