
.circle__container {
    height: 100%;
    width: 100rem;
}

.b1{
    position: absolute;
    background: radial-gradient(circle at center, orange   0, #0c0101);
    width: 350rem;
    height: 350rem;
    filter: blur(85rem);
    border-radius: 50%;
    margin-top:300rem;
    margin-left:350rem;
    transform-origin:left;
    animation: moveYOffsetB1 10s infinite;
}

.b2{
    position: absolute;
    width: 450rem;
    height: 450rem;
    filter: blur(85rem);
    border-radius: 50%;
    margin-top:300rem;
    margin-left:520rem;
    transform-origin:right;
    animation: moveYOffsetB2 13s infinite;
}



@keyframes moveYOffsetB1 {
    0%{
          transform:  rotateZ(360deg);
    }50%{
           transform:  rotateZ(20deg);
     }100%{
           transform:  rotateZ(360deg);
      }
}

@keyframes moveYOffsetB2 {
    0%{
        transform:  rotateZ(360deg);
    }50%{
         transform:  rotateZ(0deg);
     }100%{
          transform:  rotateZ(360deg);
      }
}


@media screen and (max-width: 440px) {
    .b2{
        transform-origin: left;
    }

 @keyframes moveYOffsetB2 {
        0%{
            transform:  rotateZ(170deg);
        }50%{
             transform:  rotateZ(0deg);
         }100%{
              transform:  rotateZ(170deg);
          }
    }
}
